using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;


class Geometrical_Shape
{
    double No_of_coordinates, Area;
    string Color;
    public void create()
    {
        Console.WriteLine(" Enter Number of Coordinates:  ");
        No_of_coordinates = Convert.ToDouble(Console.ReadLine());
        Console.WriteLine(" Enter the Area     :");
        Area = Convert.ToDouble(Console.ReadLine());
        Console.WriteLine(" Enter the Color    :");
        Color = (Console.ReadLine());
    }
    public void display()
    {
        Console.WriteLine("THIS IS WHAT YOU ENTERED: \n");
        Console.Write("Number OF Coordinates :");
        Console.WriteLine(No_of_coordinates);
        Console.Write("Area:");
        Console.WriteLine(Area);
        Console.Write("Color :");
        Console.WriteLine(Color);

    }
    class Program
    {
        static void Main(string[] args)
        {
            Geometrical_Shape geo = new Geometrical_Shape();
            geo.create();
            geo.display();
            Console.ReadLine();
        }

    }
}
